<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /

    # Rewrite rule for /d/{code}/{key1}/{key2} to index.php
    RewriteRule ^d/([^/]+)/([^/]+)/([^/]+)/?$ index.php?action=decrypt&code=$1&key1=$2&key2=$3 [L,QSA]
</IfModule>
